name: peps
services:
  postgres:
    image: postgres:16-alpine 
    container_name: peps-bdd
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgresdata:/var/lib/postgresql/data # volume pour stocker les données. nom_du_volume:emplacement_dans_le_container      
      - ./db-scripts:/docker-entrypoint-initdb.d/ # chemin des scripts SQL pour l'initialisation de la base de données          
    deploy:
      resources:
        limits:
          cpus: '0.5'    # ne pas dépasser 50% d'un cœur CPU
          memory: 512M   # plafond de mémoire vive à 512 Mo
        reservations:
          cpus: '0.1'    # garantir au moins 10% d'un cœur
          memory: 128M   # garantir au moins 128 Mo au démarrage  

  api:
    build:
      context: ./api # chemin vers le Dockerfile de l'API
      target: dev # spécifie l'étape de build à utiliser
    container_name: peps-api
    ports:
      - "8080:8080"
    depends_on: # nom du service duquel on dépend
      - postgres
    restart: unless-stopped
    environment: 
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE:-dev}
      DB_HOST: postgres # nom du service de la base de données
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_URL: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    volumes:
      - ./api:/app # monte le code source
      - ~/.m2:/root/.m2 # pour persister le cache Maven
    deploy:
      resources:
        limits:
          cpus: '1.0'    # autorise 1 cœur entier pour Java
          memory: 1G     # limite à 1 Go de RAM 
        reservations:
          memory: 512M   # réserve 512 Mo pour être sûr qu'il démarre bien

  client:
    build:
      context: ./client # chemin vers le Dockerfile du client
      target: dev # étape de build 
    container_name: peps-client
    volumes:
      - ./client:/app:cached # monte le code source
      - client_node_modules:/app/node_modules
    ports:
      - "4200:4200"
    depends_on:
      - api
    restart: always
    command: ["npm", "start"]
    deploy:
      resources:
        limits:
          cpus: '1.0'    # la compilation Angular demande du CPU
          memory: 1G     
        reservations:
          memory: 256M

volumes:
  postgresdata:
  client_node_modules: