<div
  class="card bg-base-100 min-h-min h-[430px] w-full shadow-sm cursor-pointer"
  [routerLink]="['/recipes', recipe.id]"
>
  <figure>
    <img
      [src]="recipe.imageUrl"
      alt="{{ recipe.name }}"
      class="h-50 w-full object-cover object-center"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title text-left">{{ recipe.name }}</h2>
    <p class="text-left text-gray-500">Par {{ recipeUser }}</p>

    <div class="card-actions gap-1 flex-wrap">
      <div class="badge badge-soft badge-primary">
        @if (recipe.country?.imageUrl) {
          <img
            [src]="recipe.country?.imageUrl"
            alt="{{ recipe.country?.name }} flag"
            class="inline-block h-4 w-4 object-cover object-center mr-1"
          />
        }
        {{ recipe.country?.name }}
      </div>
      <div class="badge badge-soft badge-primary">⌛ {{ recipe.preparationDuration }} mins</div>
      <div class="badge badge-soft badge-primary">🔥 {{ difficultyLabel }}</div>
    </div>

    <div class="card-actions justify-end">
      @if (!isAuthenticated()) {
      } @else {
        <button class="cursor-pointer" (click)="$event.stopPropagation(); toggleFavorite()">
          <fa-icon
            [icon]="isFavorite ? faHeart : faHeartRegular"
            class="text-xl text-secondary hover:text-secondary transition-colors duration-200"
          ></fa-icon>
        </button>
        <!-- <button class="cursor-pointer">
          <fa-icon [icon]="faPlus" class="text-xl text-accent"></fa-icon>
        </button> -->
      }
    </div>
  </div>
</div>
