<div class="drawer md:drawer-open">
  <!-- Toggle sidebar gauche -->
  <input id="left-drawer" type="checkbox" class="drawer-toggle" />

  <!-- Zone centrale + header + sidebar droite -->
  <div class="drawer-content flex flex-col">
    <!-- Contenu principal + aside droite -->
    <div class="flex flex-row">
      <!-- Main -->
      <main>
        <!-- HEADER - MILIEU -->
        @if (showHeader()) {
          <app-header></app-header>
          <!-- CONTENU PRINCIPAL AVEC MARGE -->
          <div class="md:p-8 md:px-12 text-center">
            <router-outlet></router-outlet>
          </div>
        } @else {
          <!-- APPLICATION GLOBALE SANS MARGE -->
          <router-outlet></router-outlet>
        }
      </main>

      <!-- SIDEBAR DROITE FIXE -->
      <!-- TODO : rendre collapsible ou masquer en mobile (drawer bas) -->
      <aside
        class="hidden min-h-screen md:block w-80 drop-shadow-sm bg-white rounded-l-(--big) p-4"
      >
        <!-- MENU CREATION -->
        <div
          class="menu min-h-full grow gap-2 pt-8 text-base-content font-main text-base font-medium"
        >
          <h2 class="font-bold mb-4">Création de Menus</h2>
          <p class="italic opacity-85">Fonctionnalité à venir prochainement ...</p>
        </div>
      </aside>
    </div>
  </div>

  <!-- NAVBAR - GAUCHE -->
  <div class="drawer-side is-drawer-close:overflow-visible">
    <label for="left-drawer" aria-label="close sidebar" class="drawer-overlay"></label>

    <div
      class="flex min-h-full flex-col drop-shadow-sm items-start bg-(--primary-light) rounded-r-(--big) is-drawer-close:w-16 is-drawer-open:w-64"
    >
      <!-- Contenu de la sidenav en composant -->
      <app-sidenav></app-sidenav>
    </div>
  </div>
</div>
