<div class="drawer lg:drawer-open">
  <!-- Toggle sidebar gauche -->
  <input id="left-drawer" type="checkbox" class="drawer-toggle" />

  <!-- Zone centrale + header + sidebar droite -->
  <div class="drawer-content flex flex-col">
    <!-- Contenu principal + aside droite -->
    <div class="flex flex-row">
      <!-- Main -->
      <main>
        <!-- HEADER MILIEU -->
        <!-- Peut être découpé en composant -->
        <nav class="navbar w-full">
          <label for="left-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
            <!-- Sidebar toggle icon -->
            <!-- TODO Modifier l'icone de toggle #27-->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2"
              fill="none"
              stroke="currentColor"
              class="my-1.5 inline-block size-4"
            >
              <path
                d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
              ></path>
              <path d="M9 4v16"></path>
              <path d="M14 10l2 2l-2 2"></path>
            </svg>
          </label>
          <div class="px-4">Navbar Title</div>

          <label class="input drop-shadow-sm">
            <fa-icon [icon]="faSearch" class="mx-2 text-primary"></fa-icon>
            <input type="search" required placeholder="Search" />
          </label>
        </nav>

        <!-- APPLICATION GLOBALE -->
        <router-outlet></router-outlet>
      </main>

      <!-- SIDEBAR DROITE FIXE -->
      <!-- TODO : rendre collapsible ou masquer en mobile (drawer bas) -->
      <aside class="w-80 drop-shadow-sm bg-white rounded-l-(--big) p-4">
        <!-- MENU CREATION -->
        <div class="menu grow gap-2 pt-8 text-base-content font-main text-base font-medium">
          <h2 class="font-bold mb-4">Menu Création</h2>
          <p>Contenu du menu…</p>
        </div>
      </aside>
    </div>
  </div>

  <!-- NAVBAR - GAUCHE -->
  <div class="drawer-side is-drawer-close:overflow-visible">
    <label for="left-drawer" aria-label="close sidebar" class="drawer-overlay"></label>

    <div
      class="flex min-h-full flex-col drop-shadow-sm items-start bg-(--primary-light) rounded-r-(--big) is-drawer-close:w-16 is-drawer-open:w-64"
    >
      <!-- Contenu de la sidenav en composant -->
      <app-sidenav></app-sidenav>
    </div>
  </div>
</div>
