name: CI / CD Peps App

# Le WORKFLOW se déclenche sur un push ou PR vers main uniquement
on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

# Définit les jobs à exécuter
jobs:
  # === JOB 1 : BACKEND ===
  backend:
    name: Backend CI
    runs-on: ubuntu-latest

    # Répertoire pour le backend = /api
    defaults:
      run:
        working-directory: ./api

    # Checkout clone le repo dans le runner
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Install JDK 21, setup env variables
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: 21

      # Met en cache le repo Maven 
      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-

      # Installe les dépendances Maven
      - name: Install Dependencies
        run: mvn dependency:go-offline -B

      # Tests 
      - name: Run unit tests
        run: mvn test


  # === JOB 2 : FRONTEND ===
  frontend:
    name: Frontend CI
    runs-on: ubuntu-latest
    needs: backend # ne build que si le back passe

    # Répertoire pour le front-end = /client
    defaults:
      run:
        working-directory: ./client

    # Checkout clone le repo dans le runner
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Installe Node.js, dependencies, linter, build Angular
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"

      # Installe les dépendances
      - name: Install dependencies
        run: npm ci --no-audit

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      # Linter
      - name: Run linter
        run: npm run lint

      # Tests
      - name: Run tests
        run: npx playwright test

      # Build Angular
      - name: Build Angular app
        run: npm run build

  # === JOB 3 : DOCKER ===
  docker:
    name: Validate Dockerfiles
    runs-on: ubuntu-latest
    needs: [backend, frontend]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Vérifie le Dockerfile backend
      - name: Build backend Docker image
        run: docker build -t peps-backend-test -f ./api/Dockerfile ./api

      # Vérifie le Dockerfile frontend
      - name: Build frontend Docker image
        run: docker build -t peps-frontend-test -f ./client/Dockerfile ./client

  # === NOTIFY JOB ===
  notify:
    name: Notification
    runs-on: ubuntu-latest
    needs: [backend, frontend, docker]
    if: failure() 

    steps:
      # Crée un message d’échec dans les logs
      - name: Message d’échec dans les logs
        run: |
          echo "❌ Le pipeline CI/CD a échoué."
          echo "Vérifie les logs des jobs (backend, frontend ou docker) pour identifier la cause."
          echo "Push pour relancer le pipeline."

      # Commente sur la PR si le workflow a été déclenché par une PR
      - name: Commentaire sur la PR
        if: github.event_name == 'pull_request'
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const prNumber = context.payload.pull_request.number;
            const message = `
            ❌ **CI/CD échouée**
            Le pipeline a échoué sur le commit [${context.sha.slice(0,7)}](https://github.com/${context.repo.owner}/${context.repo.repo}/commit/${context.sha}).

            Vérifie les jobs **backend**, **frontend** ou **docker** dans les logs Actions.`;

            await github.rest.issues.createComment({
              ...context.repo,
              issue_number: prNumber,
              body: message
            });


# === DEPLOY JOB ===
  deploy:
    name: Deploy API to Render
    runs-on: ubuntu-latest
    needs: [backend, frontend, docker]
    
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Trigger Render Deployment
        # Curl envoie une requête POST au lien secret pour dire à Render de se mettre à jour
        run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK_URL }}


